/* CSS talk bubble */
.talk-bubble, .talk-bubble-modal {
	border-radius: 5px;
	margin: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
    display: inline-block;
    position: absolute;
	width: 290px;
	height: auto;
	background-color: lighten($cor1,25%);
	.circle {
	    position: absolute;
	    bottom: -25%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    border-radius: 50%;
	    width: 24px;
	    height: 24px;
		border: 2px solid white;
	    background: lighten($cor1,20%);
		&.peq {
			bottom: -43%;
			width: 15px;
		    height: 15px;
		}
	}
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lighten($cor1,25%) transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lighten($cor1,25%) lighten($cor1,25%) transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
    right: auto;
    top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
    right: auto;
    top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lighten($cor1,25%);
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
    right: auto;
    top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
    right: auto;
    top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lighten($cor1,25%) transparent transparent lighten($cor1,25%);
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 200px;
	bottom: -20px;
	border: 12px solid;
	border-color: lighten($cor1,25%) lighten($cor1,25%) transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lighten($cor1,25%) lighten($cor1,25%) transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -40px;
    top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -20px;
    top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lighten($cor1,25%) transparent transparent lighten($cor1,25%);
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -40px;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -20px;
    top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lighten($cor1,25%) transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
	p {
		font-family: Miso;
		font-size: 1.4em;
		line-height: 1em;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		@media (max-width:600px) {
	        font-size: 1.4em;
	        line-height: 1em;
	    }
	}
}
