.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.carousel {
    position: relative;
    background: transparent;
    margin: 60px auto 30px;
    max-width: 700px;
    .item {
        padding-bottom: 75%;
        &:nth-child(1) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso01.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(2) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso02.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(3) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso03.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(4) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso04a.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(5) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso05.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(6) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso06.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(7) {
            border-radius: 20px;
            background: url('../img/_MG_5653.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(8) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso08.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(9) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso09.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(10) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso10.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(11) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso11.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(12) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso12.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(13) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso13.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
        &:nth-child(14) {
            border-radius: 20px;
            background: url('../img/hemocentro-produtor-macroprocesso14.jpg');
            background-size: contain;
            background-position: top center;
            background-origin: border-box;
        }
    }
}
.carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .item {
    position: relative;
    height: 100%;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition:      -o-transform .6s ease-in-out;
        transition:         transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);

}
.carousel-control.left {
    left: 0;
}
.carousel-control.right {
    right: 0;
    left: auto;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}
.carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel-control .icon-next:before {
    content: '\203a';
}
.carousel-indicators {
    border-radius: 0 0 20px 20px;
    background: $cor1;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    bottom: -25px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-caption {
    padding: 10px;
    background: $cor1;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: #fff;
    // text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    p {
        font-size: 1.1em;
        line-height: 1.2em;
        @media (max-width: 600px) {
            font-size: 12px;
        }
    }
}
.carousel-caption .btn {
    text-shadow: none;
}

.carousel  + .legenda {
    margin: 45px auto 0;
    max-width: 700px;
    text-align: left;
}










