.chat {
    .post {
        border-bottom: 1px solid lighten(black, 90%);
        padding-bottom: 20px;
        margin-bottom: 20px;
        &.no-border {
            border-bottom: none;
            padding-bottom: 0;
        }
        p {
            margin: 0;
            .nome {
                font-weight: 700;
                color: $cor1;
            }
        }
        .avatar {
            border: 2px solid $cor1;
            border-radius: 10px;
            width: 65px;
            height: 65px;
            float: left;
            margin-right: 15px;
            background: $cor1;
            &.avatar1 {
                background-image: url('../img/ricardo.png');
                background-size: cover;
            }
            &.avatar2 {
                background-image: url('../img/aline.png');
                background-size: cover;
            }
            &.avatar3 {
                background-image: url('../img/carlos.png');
                background-size: cover;
            }
            &.avatar4 {
                background-image: url('../img/marcia.png');
                background-size: cover;
            }
        }
        .pergunta {
            border-top: 1px solid lighten(black, 90%);
            min-height: 85px;
            padding-top: 20px;
            margin-top: 20px;
            &.no-border {
                border-top: none;
                padding-top: 0;
            }
        }
        .resposta {
            border-top: 1px solid lighten(black, 90%);
            padding-top: 20px;
            padding-left: 20px;
            margin-top: 20px;
            min-height: 75px;
            .avatar {
                height: 55px;
                width: 55px;
            }
        }
        .mais-comentarios {
            color: lighten(black,50%);
            margin-top: 30px;
        }
    }
}
