.drag-drop {
    .drag-drop-diagrama {
        background-image: url('../img/diagrama-drag-drop.png');
        background-size: contain;
        text-align: center;
        border-radius: 20px;
        padding: 1%;
        background-color: lighten($cor1, 20%);
        display: block;
        width: 50%;
        float: left;
        margin: 0 auto 15px;
    }
    .drag-drop-opcoes {
        width: 48%;
        margin-left: 2%;
        margin-bottom: 15px;
        float: right;
    }
    .botao {
        clear: both;
        display: block;
        margin: auto;
    }
    @media(max-width:767px){
        .drag-drop-diagrama {
            width: 100%;
            float: none;
            max-width: 500px;
            clear: both;
            border-radius: 10px;
        }
        .drag-drop-opcoes {
            width: 100%;
            float: none;
            margin-left: 0;
        }
    }
    
}
.drag-drop-diagrama-campo {
    opacity: .9;
    position: relative;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;
    display: block;
    border-radius: 10px;
    width: 32%;
    padding-bottom: 32%;
    vertical-align: middle;
    background-color: white;
    box-shadow: 0 0 10px transparentize(black, .8);
    overflow-y: scroll;
    &.ui-droppable-hover {
        background-color: rgba(223, 223, 223, 0.4);
    }
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
    .glyphicon {
        font-size: 16px;
        text-shadow: 0 0 3px transparentize($color: black, $amount: 0.5);
        position: absolute;
        top: 1%;
        right: 1%;
        &.glyphicon-ok {
            color: $cor5;
        }
        &.glyphicon-remove {
            color: red;
        }
    }
    .drag-drop-content {
        position: absolute;
        top: 5%;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        overflow-y: scroll;
    }
    i {
        display: none;
    }
    &.verificar {
        i {
            display: block;
        }
    }
}

.drag-drop-opcao {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px transparentize(black, .8);
    border: 2px solid lighten($cor1, 20%);
    background: white;
    cursor: grab;
    &.ui-draggable-dragging {
        width: 100px;
        height: 100px;
        overflow: hidden;
        cursor: grabbing;
    }
}

.drag-drop-content {
    font-size: 12px;
}

.drag-drop-botoes {
    text-align: center;
    clear: both;
    .botao {
        display: inline-block;
        margin: 0 10px;
    }
}

.feedback {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    tr {
        border-collapse: collapse;
        border-bottom: 1px solid lighten(black, 90%);
        &.correto {
            background-color: lighten($cor5, 40%);
        }
    }
    td {
        padding: 5px;
        &.feedback-icon {
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            font-size: 24px;
        }
    }
    .glyphicon-ok {
        color: $cor5;
    }
    .glyphicon-remove {
        color: red;
    }
}