.hemocomponentes {
    max-width: 600px;
    border-top: 2px solid $cor1;
    margin: 15px auto;
    // animation: surgindo 5s;
    figure {
        border: 2px solid $cor1;
        border-radius: 10px;
        margin-top: 5px;
        background: lighten(black,90%);
        padding: 15px 5px 5px;
        position: relative;
        text-align: center;
        float: left;
        width: 24.25%;
        margin-right: 1%;
        height: 195px;
        opacity: 0;
        &.animacao {
            animation: surgindo 2s;
            animation-fill-mode: forwards;
            &:nth-child(2) {
                animation-delay: 1s;
            }
            &:nth-child(3) {
                animation-delay: 2s;
            }
            &:nth-child(4) {
                animation-delay: 3s;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        &:after{
            top: -15px;
            right: 20%;
            left: 20%;
            margin: auto;
            position: absolute;
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $cor1;
            border: 2px solid $cor1;
        }
        img {
            border: 2px solid $cor1;
            border-radius: 50%;
            margin-bottom: 5px;
        }
        figcaption {
            font-family: Miso;
            hyphens: auto;
            @media (max-width: 600px) {
                font-size: .8em;
            }
        }
    }
}
.hemocomponentes + .legenda {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
@keyframes surgindo {
    from {
        // left: 100%;
        opacity: 0;
    }
    to {
        // left: 0;
        opacity: 1;
    }
}
.infografico-rh {
    font-size: 1.4em;
    max-width: 600px;
    margin: 60px auto;
    .infografico-rh-meio {
        background-image: url('../img/seta-ida-volta.svg');
        background-position: center;
        background-size: 120px;
        background-repeat: no-repeat;
        margin: 30px auto;
        .infografico-rh-botao {
            &:first-of-type {
                float: left;
            }
            &:last-of-type {
                float: right;
            }
        }
    }
    .infografico-rh-base {
        background-image: url('../img/seta-ida-volta1.svg');
        background-position: center top;
        background-size: 380px;
        background-repeat: no-repeat;
    }
    .infografico-rh-botao {
        text-align: center;
        box-shadow: 0 0 10px transparentize(black, .5);
        margin: auto;
        width: 222px;
        font-family: Miso;
        color: white;
        background: $cor1;
        border: 6px double white;
        border-radius: 15px;
        a {
            color: white;
            // float: left;
            cursor: pointer;
            text-align: center;
            display: block;
            background-color: $cor1;
            border-radius: 10px;
            transition: background-color 1s;
            &:hover, &:focus {
                background-color: darken($cor1,20%);
                text-decoration: none;
            }
            &.rotulo {
                // width: 172px;
                padding: 8px;
                // border-right: 2px solid white;
            }
            &.info {
                border-radius: 0 10px 10px 0;
                font-family: Georgia, serif;
                text-align: right;
                padding: 8px;
                img {
                    display: block;
                    width: 22px;
                }
            }
        }
    }
    @media (max-width: 600px) {
        font-size: 1em;
        max-width: 300px;
        .infografico-rh-meio {
            background-image: url('../img/seta-ida-volta2.svg');
            background-size: 30px;
        }
        .infografico-rh-base {
            background-image: url('../img/seta-ida-volta4.svg');
            background-position: center top;
            background-size: 220px;
            background-repeat: no-repeat;
        }
        .infografico-rh-botao {
            width: 133px;
            a {
                &.rotulo {
                    margin: 0 auto;
                    width: 82px;
                }
                &.info {
                    padding: 13px 8px;
                }
            }
        }
    }
}
.infografico-gerenciamento_estoque_1 {
    .arrow-right {
        margin-left: 3px;
        margin-right: 3px;
    }
    @media (max-width: 380px) {
        .arrow-right {
            margin-left: 0;
            margin-right: 0;
        }
        .botao.pequeno a {
            padding: 5px;
        }
    }
}
.infografico-gerenciamento_estoque_2 {
    .botao {
        a {
            padding-top: 100%;
            span {
                display: block;
                width: 100%;
                text-shadow: 0 0 3px #000;
                }
            }
        &:nth-child(1){
            a {
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                background-image: url('../img/hemacias.jpg');
            }
        }
        &:nth-child(3){
            a {
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                background-image: url('../img/plaquetas.jpg');
            }
        }
        &:nth-child(5){
            a {
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                background-image: url('../img/pfc.jpg');
            }
        }
    }
    .arrow-right {
        margin-left: 3px;
        margin-right: 3px;
    }
    @media (max-width: 380px) {
        .arrow-right {
            margin-left: 0;
            margin-right: 0;
        }
        .botao.pequeno a {
            font-size: .8em;
            padding: 5px;
        }
    }
}
.infografico-responsabilidade-usuario {
    max-width: 290px;
    margin: 30px auto;
    position: relative;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30%;
    background-image: url('../img/centrifuga.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    .clearfix {
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        .botao {
            position: absolute;
            &:nth-child(1) {
                bottom: 20px;
                left: 20px;
            }
            &:nth-child(2) {
                bottom: 20px;
                right: 20px;
            }
        }
    }
}
.infografico-prontuario {
    max-width: 600px;
    margin: 60px auto;
    .prontuario {
        margin: 0 auto;
        width: 30%;
        min-width: 150px;
    }
    .botao {
        display: block;
        margin-left: 30px;
        @media (max-width: 450px) {
            margin-left: 0;
        }
    }
}
.infografico-equipamentos {
    position: relative;
    border-radius: 20px;
    width: 450px;
    height: 480px;
    margin: 60px auto 15px;
    background-image: url('../img/equipamento.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    .botoes {
        background: linear-gradient(to right, transparentize(white,1) 0%, white 20%, white 100%) ;
        padding-top: 10px;
        text-align: right;
        right: 0;
        width: 60%;
        height: 100%;
        position: absolute;
    }
    @media (max-width: 500px) {
        width: 290px;
        height: 480px;
        .fixa4 {
            width: 150px;
            a {
                font-size: 14px;
            }
        }
    }
}
.planta {
    background-image: url('../img/planta.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-bottom: 50%;
    @media (max-width: 600px) {
        background-image: url('../img/planta1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        padding-bottom: 300%;
    }
}
.infografico-mapa_do_curso {
    margin: 30px auto;
    max-width: 600px;
    font-family: Miso;
    font-size: 1.5em;
    a {
        display: block;
        color: $cor1;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    .unidade {
        margin-top: 15px;
        margin-bottom: 60px;
        border-radius: 20px;
        border: 3px solid lighten($cor1, 20%);
        padding: 20px;
        transition: background 1s;
        &:hover, &:focus {
            background: lighten($cor1,20%);
        }
        > a {
            transition: color 1s;
            margin-bottom: 10px;
            &:hover, &:focus {
                color: white;
            }
        }
    }
    .modulos {
        border-radius: 20px;
        border: 3px solid lighten($cor1, 20%);
        background: lighten($cor1, 30%);
        .modulo {
            padding: 15px;
            &.modulo1, &.modulo3, &.modulo6 {
                border-bottom: 3px solid lighten($cor1, 20%);
                transition: background 1s;
                border-radius: 20px 20px 0 0;
                &:hover, &:focus {
                    background: white;
                }
            }
            &.modulo4 {
                border-bottom: 3px solid lighten($cor1, 20%);
                transition: background 1s;
                &:hover, &:focus {
                    background: white;
                }
            }
            &.modulo2, &.modulo5, &.modulo7 {
                transition: background 1s;
                border-radius: 0 0 20px 20px;
                &:hover, &:focus {
                    background: white;
                }
            }
            .modulo-titulo {
                position: relative;
                display: block;
                margin-bottom: 3px;
                strong {
                    display: block;
                    text-transform: none;
                    border-bottom: 1px solid $cor1;
                    margin-bottom: 5px;
                }
                .carga-horaria {
                    font-size: 1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-transform: normal;
                    margin-bottom: 5px;
                    color: lighten($cor1,10%);
                    display: block;
                }
            }
            .atividade {
                font-size: 1.25rem;
                // margin-left: 6px;
                margin-right: 6px;
                color: lighten(black,40%);
                border-radius: 15px;
                // background: white;
                display: inline-block;
                padding-right: 10px;
                i {
                    margin: 0 3px 0 -8px;
                    display: inline-block;
                    background: lighten($cor1,20%);
                    color: white;
                    border-radius: 50% 0 0  50%;
                    padding: 3px 6px 0 8px ;
                }
            }
        }
    }
}
.infografico-gerencia-operacoes {
    height: 100%;
    margin: 30px auto;
    max-width: 600px;
    // padding-bottom: 20%;
    .info-go-campo {
        width: 30%;
        height: 100px;
        display: table;
        float: left;
        &.seta-abaixo {
            margin-top: 3px;
            height: 122px;
            padding-top: 4%;
            background-image: url('../img/triangulo2.svg');
            background-size: 22%;
            background-position: top center;
            background-repeat: no-repeat;
        }
        a {
            font-style: normal;
            box-shadow: 0 0 10px transparentize(black,.5);
            text-decoration: none;
            background-color: $cor1;
            font-family: Miso;
            font-size: 1.3em;
            text-align: center;
            display: table-cell;
            color: white;
            vertical-align: middle;
            border: 6px double white;
            padding: 5px;
            border-radius: 10px;
            transition: background-color 1s;
            cursor: default;
            &:hover, &:focus {
                background-color: darken($cor1,20%);
                cursor: pointer;
                text-decoration: none;
            }
            @media (max-width: 600px) {
                font-size: 1em;
            }
            @media (max-width: 365px) {
                font-size: 0.8em;
            }
        }
    }
    .infografico-espaco {
        height: 100px;
        width: 3%;
        margin: 0 1%;
        float: left;
        &.seta-esquerda {
            background-image: url('../img/triangulo.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
        &.seta-direita {
            background-image: url('../img/triangulo1.svg');
            background-position: center;
            background-repeat: no-repeat;
        }

    }
}
.m1-ig-1 {
    width: 100%;
    margin: 30px auto;
    max-width: 600px;
    background-image: url('../img/uni1_mod1_AtPRIMARIa.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 36%;
    @media (max-width: 600px) {
        background-image: url('../img/uni1_mod1_001_AtPRIMARIa.jpg');
        padding-bottom: 80%;
    }
}
.m1-ig-2 {
    width: 100%;
    margin: 30px auto;
    max-width: 600px;
    background-image: url('../img/uni1_mod1_002_DesHemot.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 66%;
    @media (max-width: 600px) {
        padding-bottom: 100%;
    }
}
.m1-ig-3 {
    width: 100%;
    margin: 30px auto;
    max-width: 500px;
    background-image: url('../img/uni1_mod1_003_SINASAN.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 37%;
    @media (max-width: 600px) {
        padding-bottom: 70%;
    }
}
.m1-ig-4 {
    width: 100%;
    margin: 30px auto;
    max-width: 600px;
    background-image: url('../img/uni1_mod1_004_HC-SES.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 36%;
    @media (max-width: 600px) {
        padding-bottom: 50%;
    }
}
.m2-ig-1 {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    max-width: 600px;
    background-image: url('../img/uni1_mod2_cena844.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 47%;
    a {
        height: 50px;
        position: absolute;
        &:nth-child(1) {
            top: 2.5%;
            width: 47%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &:nth-child(2) {
            width: 35%;
            bottom: 6%;
            left: 5%;
        }
        &:nth-child(3) {
            width: 25%;
            bottom: 6%;
            right: 5%;
        }
    }
}
.m2-ig-1 + .legenda {
    margin-left: auto;
    margin: auto;
    max-width: 600px;
    text-align: left;
}
.m3-ig-1 {
    max-width: 800px;
    width: 100%;
    margin: 30px auto 0;
    background-image: url('../img/uni2_mod3_001_HemProdutor.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 60%;
    @media (max-width: 600px) {
        background-image: url('../img/uni2_mod3_001_HemProdutorCEL.jpg');
        padding-bottom: 100%;
    }
    & + .legenda {
        margin: auto;
        max-width: 800px;
        text-align: left;
    }
}
.m3-ig-2 {
    max-width: 800px;
    width: 100%;
    margin: 30px auto 0;
    background-image: url('../img/uni2_mod3_002_coracao.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 64%;
    @media (max-width: 600px) {
        background-image: url('../img/uni2_mod3_002_coracaoCEL.jpg');
        padding-bottom: 100%;
    }
    & + .legenda {
        margin: auto;
        max-width: 800px;
        text-align: left;
    }
}
.m3-ig-3 {
    max-width: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    .popover-trigger {
        position: absolute;
        display: block;
        // background-color: red;
        opacity: .1;
        width: 20%;
        padding-bottom: 12%;
    }
    .exames01 {
        top: 11%;
        right: 31%;
    }
    .exames01-2{
        top: 22%;
        left: 15%;
        width: 23%;
    }
    .exames02 {
        top: 31%;
        left: 42%;
        padding-bottom: 6%;
        width: 34%;
    }
    .exames02-2 {
        top: 47.5%;
        left: 22%;
        padding-bottom: 6%;
        width: 34%;
    }
    .exames02-3 {
        top: 47.5%;
        right: 4%;
        padding-bottom: 6%;
        width: 34%;
    }
}
.m3-ig-4 {
    position: relative;
    margin: 60px auto 0;
    background-image: url(../img/uni2_mod3_004_Macroprocesso.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 70%;
    div {
        position: absolute;
        width: 20%;
        height: 100%;
        a {
            // background-color: red;
            // opacity: .1;
        }
        &:first-child {
            top: 13%;
            left: 25%;
            a {
                margin-top: 13%;
                &:nth-child(2) {
                    height: 15%;
                }
                &:nth-child(3) {
                    height: 15%;
                }
            }
        }
        &:last-child {
            top: 12%;
            right: 2%;
            a {
                margin-top: 18%;
                &:nth-child(1) {
                    margin-bottom: 86%;
                }
            }
        }
        a {
            height: 10%;
            width: 100%;
            display: block;
        }
    }
    @media (max-width: 600px) {
        margin: 30px auto 0px;
        background-image: url(../img/uni2_mod3_004_MacroprocessoCEL.jpg);
        padding-bottom: 100%;
        div {
            position: absolute;
            width: 20%;
            height: 100%;
            &:first-child {
                top: 13%;
                left: 29%;
                a {
                    margin-top: 20%;
                    &:nth-child(2) {
                        height: 15%;
                    }
                    &:nth-child(3) {
                        height: 15%;
                    }
                }
            }
            &:last-child {
                top: 11%;
                right: 3.5%;
                a {
                    margin-top: 30%;
                    &:nth-child(1) {
                        margin-bottom: 128%;
                    }
                }
            }
            a {
                height: 10%;
                width: 100%;
                display: block;
            }
        }
    }
}
.m3-fig1 {
    max-width: 600px;
    margin: auto;
}
.m3-fig2 {
    max-width: 600px;
    margin: auto;
}
.m4-fig1 {
    margin: 60px auto;
    max-width: 600px;
    position: relative;
    .popover-trigger {
        position: absolute;
        display: block;
        // background-color: red;
        opacity: .1;
        width: 22%;
        padding-bottom: 9%;
    }
    .prod01 {
        top: 12%;
        left: 47%;
    }
    .prod02 {
        top: 31.5%;
        left: 39%;
        width: 39%;
        padding-bottom: 7%;
    }
    .prod03 {
        top: 48%;
        left: 60%;
        width: 39%;
        padding-bottom: 7%;
    }
    .prod04 {
        top: 69%;
        left: 7.5%;
    }
    .prod05 {
        top: 22%;
        left: 11%;
        width: 25%;
        padding-bottom: 13%;
    }
    .prod06 {
        top: 69%;
        left: 44%;
    }
    .prod07 {
        top: 76%;
        left: 17%;
        padding-bottom: 13%;
    }
    .prod07-2 {
        top: 60%;
        left: 75%;
    }
    .prod08 {
        top: 54%;
        left: 75%;
    }
    .prod09 {
        top: 85%;
        left: 17%;
        padding-bottom: 13%;
    }
    .prod09-2 {
        top: 66%;
        left: 75%;
    }
    .prod10 {
        top: 78%;
        left: 54%;
    }
    .prod11 {
        top: 84%;
        left: 54%;
    }
    .prod12 {
        top: 91%;
        left: 54%;
        padding-bottom: 13%;
    }

}