.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    @media (max-width: 600px) {
        display: none;
    }
}
.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    @media (max-width: 600px) {
        display: block;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.texto-centro {
    text-align: center !important;
}
.texto-direita {
    text-align: right !important;
}
.texto-esquerda {
    text-align: left !important;
}
.direita {
    margin-left: 15px;
    float: right;
    @media (max-width: 600px) {
        float: none;
        margin-left: 0;
        margin-bottom: 15px;
    }
}
.esquerda {
    margin-right: 15px;
    float: left;
    @media (max-width: 600px) {
        float: none;
        margin-right: 0;
        margin-bottom: 15px;
    }
}
.inline-block {
    display: inline-block;
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom {
    vertical-align: bottom;
}
.vertical-align-text-bottom {
    vertical-align: text-bottom;
}
.padding-topo1 {
    padding-top: 5px;
}
.padding-topo2 {
    padding-top: 30px;
}
.legenda {
    font-style: normal !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    line-height: 1.3em !important;
    &.txt-menor {
        font-size: 12px !important;
    }
}
.borda10px {
    border-radius: 10px;
}
.borda20px {
    border-radius: 20px;
}
.no-border {
    border-top: none;
    border-bottom: none;
}
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.fake-it {
    display: inline-block;
    transform: skewX(-10deg);
}
.botao {
    cursor: pointer;
    font-family: Miso;
    font-size: 27px;
    line-height: 1em;
    font-weight: 400;
    display: inline-block;
    background: $cor1;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 0px 0px 10px black;
    a {
        text-align: center;
        display: block;
        width: 100%;
        border-radius: 13px;
        border: 3px solid white;
        padding: 10px 10px 6px;
        color: white !important;
        text-decoration: none;
        transition: background-color 1s;
        &:hover, &:focus {
            background-color: darken($cor1,15%);
            transition: background-color 1s;
        }
    }
    &.grande {
        width: 120px;
    }
    &.pequeno {
        font-size: 21px;
    }
    &.fixa1{
        width: 120px;
    }
    &.fixa2{
        width: 150px;
    }
    &.fixa3{
        width: 180px;
    }
    &.fixa4{
        width: 210px;
    }
    &.fixa5{
        width: 240px;
    }
    &.fixa6{
        width: 270px;
    }
    &.fixa7{
        width: 300px;
    }
    &.fixa8{
        display: block;
        width: 100%;
    }
}
.botao-grupo {
    margin: 60px 0;
    div.botao {
        margin-bottom: 15px;
        max-height: 55px;
        overflow: hidden;
        transition: max-height 1s;

        &.acordeao {
            transition: max-height 1s;
            height: auto;
            max-height: 300px;
        }
        p {
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            background: white;
            line-height: 1em;
        }
    }
}
.margem-topo1 {
    margin-top: 15px !important;
}
.margem-topo2 {
    margin-top: 30px !important;
}
.margem-topo3 {
    margin-top: 60px !important;
}
.margem-topo4 {
    margin-top: 90px !important;
}
.margem-topo5 {
    margin-top: 120px !important;
}
.margem-topo6 {
    margin-top: 150px !important;
}
.margem-topo7 {
    margin-top: 180px !important;
}
.margem-topo8 {
    margin-top: 210px !important;
}
.margem-topo-negativa {
    margin-top: -45px;
    margin-bottom: 60px;
}
.margem-base-negativa {
    margin-top: 30px;
    margin-bottom: -20px;
}
.margem-base1 {
    margin-bottom: 15px;
}
.margem-base2 {
    margin-bottom: 30px;
}
.margem-esquerda1 {
    margin-left: 15px;
}
.margem-esquerda2 {
    margin-left: 30px;
}
.no-pointer {
    pointer-events: none;
    cursor: default;
}
