.inicio {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.capa {
    text-align: center;
    position: relative;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    &.fullheight {
        background-image: url('../img/bg-capa2.jpg');
        background-position: center bottom;
        background-size: cover;
        div {
            position: absolute;
            z-index: 2;
            margin-top: 8.5%;
            left: 0;
            right: 0;
            h1 {
                margin: 0 20%;
                padding: 0;
                font-size: 3.5em;
                border: none;
            }
            p {
                margin: 5% 15px 30px;
            }
        }
        .isbn {
            z-index: 2;
            font-size: 1em;
            position: absolute;
            bottom: 5%;
            right: 5%;
            margin-bottom: 0;
            color: white;
            font-weight: 500;
            text-shadow: 0 0 3px transparentize(black, .2);
        }
        @media (max-width: 900px) {
            div {
                h1 {
                    margin: 0 15px;
                }
            }
        }
        @media (max-width: 768px) {
            div {
                h1 {
                    margin: 5% 20% 15px;
                }
                .marcas {
                    margin-bottom: 30px;
                }
            }
        }
        @media (max-width: 400px) {
            div {
                h1 {
                    margin: 15px;
                    font-size: 2.5em;
                }
            }
        }
    }
}
.bolha1 {
    background-image: url('../img/bolha1.png');
    background-size: cover;
    left: 5%;
    opacity: .8;
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: animaBolha1 10s forwards;
    @media (max-width: 900px) {
        left: -10px;
        width: 150px;
        height: 150px;
    }
}
@keyframes animaBolha1 {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: -30px;
    }
}
.bolha2 {
    background-image: url('../img/bolha2.png');
    background-size: cover;
    right: 10%;
    opacity: .8;
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: animaBolha2 10s forwards;
    animation-delay: 2s;
    @media (max-width: 900px) {
        right: -20px;
        width: 200px;
        height: 200px;
    }
}
@keyframes animaBolha2 {
    0% {
        bottom: 120%;
    }
    100% {
        bottom: -50px;
    }
}
.bolha3 {
    background-image: url('../img/bolha3.png');
    background-size: cover;
    left: 30%;
    opacity: .8;
    z-index: 1;
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    animation: animaBolha2 10s forwards;
    animation-delay: 4s;
    @media (max-width: 900px) {
        left: 20%;
        width: 120px;
        height: 120px;
    }
}
@keyframes animaBolha3 {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: -10px;
    }
}
.bolha4 {
    background-image: url('../img/bolha4.png');
    background-size: cover;
    left: 42%;
    opacity: .8;
    z-index: 1;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    animation: animaBolha4 10s forwards;
    animation-delay: 7s;
    @media (max-width: 900px) {
        width: 110px;
        height: 110px;
    }
}
@keyframes animaBolha4 {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: -5px;
    }
}






















