.linha-do-tempo {
	margin: 90px auto;
	width: 290px;
	a {
		font-family: Miso;
		font-size: 24px;
		position: absolute;
		color: white;
		padding-top: 31px;
		text-align: center;
		display: block;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		transition: all .2s ease-in-out;
		&:hover, &:focus {
			 transform: scale(1.05); 
		}
	}
	.lt1 {
		position: relative;
		height: 700px;
		background: url('../img/lt1.svg') center top no-repeat;
		a {
			&:nth-child(1) {
				top: -33px;
				left: 50px;
			}
			&:nth-child(2) {
				top: 12px;
				left: 170px;
			}
			&:nth-child(3) {
				top: 47px;
				left: 35px;
			}
			&:nth-child(4) {
				top: 152px;
				left: 155px;
			}
			&:nth-child(5) {
				top: 320px;
				left: 40px;
			}
			&:nth-child(6) {
				top: 370px;
				left: 40px;
			}
			&:nth-child(7) {
				top: 490px;
				left: 196px;
			}
			&:nth-child(8) {
				top: 650px;
				left: 30px;
			}
		}
	}
	.lt2 {
		position: relative;
		height: 320px;
		background: url('../img/lt2.svg') center top no-repeat;
		a {
			&:nth-child(1) {
				top: -32px;
				left: 35px;
			}
			&:nth-child(2) {
				top: 230px;
				left: 185px;
			}
			&:nth-child(3) {
				top: 270px;
				left: 25px;
			}
		}
	}
	.lt3 {
		position: relative;
		height: 400px;
		background: url('../img/lt3.svg') center top no-repeat;
		a {
			width: 100px;
			height: 100px;
			padding-top: 20px;
			transition: all .2s ease-in-out;
			&:hover, &:focus {
				transform: scale(1.05) !important; 
			}
			&:nth-child(1) {
				top: -42px;
				left: 20px;
			}
			&:nth-child(2) {
				top: 13px;
				left: 185px;
			}
			&:nth-child(3) {
				top: 65px;
				left: 0px;
			}
			&:nth-child(4) {
				top: 340px;
				left: 180px;
			}
			.ano-rotulo {
				font-size: 16px;
				line-height: .9em;
				font-weight: 300;
				display: block;
			}
		}
	}
}