.mapa-brasil-conteiner {
    max-width: 500px;
    margin: 0 auto;
}

.mapa-brasil {
    margin: 60px auto;
    padding-bottom: 100%;
    padding-right: 100%;
    width: 0;
    height: 0;
    position: relative;
    background-image: url('../img/MapaBrasil.png');
    background-color: lighten(black,87%);
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    .pin {
        text-decoration: none;
        position: absolute;
        background-image: url('../img/pin.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 25px;
        display: box;
        &:hover:after, &:focus:after {
            box-shadow: 0 0 10px transparentize(black,.5);
            padding: 5px;
            border-radius: 5px;
            background:black;
            display: box;
            z-index: 100;
            text-shadow: 1px 1px 2px transparentize(black,.3);
            position: absolute;
            top: 20%;
            left: 120%;
            color: white;
            font-family: Miso;                
            content: attr(data-title);
        }
        &.manaus            { left: 36%; top: 19%; }
        &.belem             { left: 63%; top: 18%; }
        &.rio-branco        { left: 15%; top: 35%; }
        &.boa-vista         { left: 35%; top: 6%;  }
        &.macapa            { left: 57%; top: 12%; }
        &.porto-velho       { left: 26%; top: 34%; }
        &.palmas            { left: 63%; top: 36%; }
        &.cuiaba            { left: 44%; top: 49%; }
        &.campo-grande      { left: 45%; top: 62%; }
        &.goiania           { left: 57%; top: 56%; }
        &.brasilia          { left: 62%; top: 52%; }
        &.salvador          { left: 84%; top: 47%; }
        &.maceio            { left: 92%; top: 40%; }
        &.aracaju           { left: 89%; top: 43%; }
        &.joao-pessoa       { left: 95%; top: 33%; }
        &.sao-luis          { left: 74%; top: 21%; }
        &.natal             { left: 93%; top: 30%; }
        &.teresina          { left: 77%; top: 28%; }
        &.recife            { left: 94%; top: 37%; }
        &.fortaleza         { left: 87%; top: 25%; }
        &.curitiba          { left: 56%; top: 75%; }
        &.florianopolis     { left: 56%; top: 81%; }
        &.porto-alegre      { left: 52%; top: 85%; }        
        &.vitoria           { left: 77%; top: 65%; }
        &.rj                { left: 72%; top: 70%; }
        &.bh                { left: 70%; top: 61%; }
        &.sp                { left: 62%; top: 70%; }        
        &.campinas          { left: 61%; top: 67%; }        
        &.marilia           { left: 55%; top: 67%; }        
        &.botocatu          { left: 58%; top: 68%; }         
        &.ribeirao          { left: 58%; top: 64%; }        
        &.santos            { left: 65%; top: 71%; }        
        &.sao-jose          { left: 55%; top: 64%; }
    }
}
