* {
    box-sizing: border-box;
}
html {
    height: 100%;
} 
body {
    height: 100%;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
img {
    max-width: 100%;
}
h1 {
    display: inline-block;
    border: 3px solid $cor1;
    padding: 6px 15px 3px;
    border-radius: 25px;
    color: $cor1;
    margin: 35px 0;
    font-family: Miso;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    @media (max-width:600px) {
        font-size: 2em;
    }
}
h2 {
    font-style: normal;
    color: $cor1;
    font-size: 1.6em;
    font-weight: 500;
    margin: 1em 0 0.5em;
    @media (max-width:600px) {
        font-size: 1.3em;
    }
}
h3 {
    font-style: normal;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0 0.5em;
    line-height: 1.5em;
    @media (max-width:600px) {
        font-size: 1.15em;
    }
}
p, section ol {
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.75em;
    font-weight: 300;
    margin-bottom: .75em;
    @media (max-width:600px) {
        font-size: 1rem;
        line-height: 1.5em;
    }
}
section ol {
    font-style: normal;
    padding: 0 0 0 1em;
    list-style: decimal;
}
section ul {
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.75em;
    font-weight: 300;
    list-style: none;
    padding: 0;
    margin: 0 0 .75em 0;
    > li {
        padding-left: 30px;
        &:before {
            margin-top: 10px;
            margin-left: -25px;
            float: left;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 3px solid $cor1;
        }
    }
    @media (max-width:600px) {
        font-size: 1rem;
        line-height: 1.5em;
        > li {
            padding-left: 30px;
            &:before {
                margin-top: 5px;
                margin-left: -25px;
                float: left;
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 3px solid $cor1;
            }
        }
    }
    &.lista-cor2 {
        > li:before {
            border-color: $cor2;
        }
    }
    &.lista-cor3 {
        > li:before {
            border-color: $cor3;
        }
    }
    &.lista-cor4 {
        > li:before {
            border-color: $cor4;
        }
    }
    &.lista-cor5 {
        > li:before {
            border-color: $cor5;
        }
    }
    &.lista-cor6 {
        > li:before {
            border-color: $cor6;
        }
    }
    &.lista-cor7 {
        > li:before {
            border-color: $cor7;
        }
    }
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
hr {
    margin-top: 15px;
    padding-top: 7px;
    height: 1px;
    border-top: 1px solid lighten(black,80%);
    border-bottom: none;
    border-left: none;
    border-right: none;
}
section {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 4px dotted transparentize($cor1,.9);
}
a, a:visited {
    color: #0000EE;
    text-decoration: underline;
    transition: color 1s;
    &:hover, &:focus {
        color: darken(#0000EE, 20%);
        transition: color 1s;
    }
}
figure {
    figcaption {
        p {
            font-style: normal !important;
            font-size: 1em !important;
            font-weight: 400 !important;
            line-height: 1.3em !important;
        }
    }
    &.esquerda {
        width: 100%;
        margin-right: 30px;
        max-width: 250px;
        img {
            width: 100%;
        }
    }
}

table {
    font-style: normal;
}

.cena {
    position: relative;
    .intro-modulo {
        font-family: Miso;
        font-size: 2em;
        line-height: 1em;
        color: lighten(black,50%);
    }
    .figurativa-direita {
        float: right;
        width: 50%;
        @media(max-width: 600px) {
            float: none;
            width: auto;
        }
    }
    blockquote {
        margin: 30px 0;
        font-family: Miso;
        font-weight: 100;
        p, ul {
            font-size: 1.8em;
            float: left;
            margin-top: 3%;
            width: 75%;
            line-height: 1.2em;
            &.rotulo {
                float: none;
                padding-top: 10%;
            }
        }
        p + ul {
            margin-top: 0;
            margin-left: 17%;
        }
        p + p {
            margin-top: -2%;
        }
        @media (max-width: 800px) and (min-width: 601px) {
            p {
                &.rotulo {
                    padding-top: 2.5%;
                }
            }
        }
        @media (max-width:600px) {
            p {
                margin-top: 0;
                font-size: 1.25em;
                &.rotulo {
                    float: left;
                    padding-top: 1.5%;
                }
            }
            p + ul {
                margin-top: 0;
                margin-left: 10%;
            }
        }
    }
    .instrucoes {
        margin: 60px auto 0;
        background-image: url('../img/instrucoes.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 100%;
        @media(max-width: 600px){
            margin: 30px auto 60px;
            background-image: url('../img/instrucoes_cel.jpg');
            padding-bottom: 230%;
        }
    }
    .visao_geral {
        margin: 60px auto 0;
        background-image: url('../img/int_graf01.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 50%;
        @media(max-width: 600px){
            margin: 30px auto 60px;
            background-image: url('../img/int_graf01cel.jpg');
            padding-bottom: 160%;
        }
    }
    .figura-sus-arcabouco {
        margin: 60px auto;
        background-image: url('../img/uni1_graf02.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 600px;
        width: 100%;
        padding-bottom: 6.5%;
        border: 1px solid transparent;
        a {
            margin-left: 55%;
            width: 17%;
            padding-bottom: 7.2%;
            cursor: pointer;
            display: block;
            &:first-of-type {
                margin-top: 10%;
            }
        }
    }
    &.referencias {
        p {
            font-style: normal;
            line-height: 1.25em;
            margin-bottom: 1.75em;
        }
    }
}
.conteudo {
    // overflow-x: hidden;
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1300px) and (min-width: 900px) {
        max-width: 800px;
    }
}
.colunas {
    .coluna_1-3 {
        margin-bottom: 30px;
        width: 30%;
        margin-right: 2%;
        float: left;
        &:first-of-type {
            border-right: 1px dotted white;
            padding-right: 15px;
        }
        &:last-of-type {
            border-left: 1px dotted white;
            padding-left: 15px;
            margin-right: 0;
        }
        @media(max-width: 700px) {
            width: 100%;
            border-left: none !important;
            border-right: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    .coluna_1-2 {
        margin-bottom: 30px;
        width: 48%;
        margin-right: 2%;
        float: left;
        &:first-of-type {
            border-right: 1px dotted white;
            padding-right: 2%;
        }
        &:last-of-type {
            margin-right: 0;
        }
        @media(max-width: 600px) {
            width: 100%;
            margin-bottom: 0;
            &:first-of-type {
                border-right: none;
                padding-right: 0;
            }
        }
    }
}
.box {
    border-radius: 20px;
    border: 3px solid lighten($cor1,20%);
    padding: 20px;
    margin: 30px 0 60px;
    @media (max-width: 600px) {
        margin: 30px 0;
    }
}
.video-box {
    margin: 30px auto;
    max-width: 600px;
    .video-conteiner {
        border: 8px double $cor1;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0;
        height: 0;
        border-radius: 10px;
        overflow:hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.m1-video {
        .video-conteiner {
            padding-bottom: 54.5%;
        }
    }
    &.apresentacao-video {
        max-width: 100%;
        .video-conteiner {
            margin-top: -90px;
            padding-top: 0;
            padding-bottom: 55.25%;
        }
    }
    & + .legenda {
        margin: auto;
    }
}
.icone {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 15px;
    @media (max-width: 600px) {
        width: 40px;
        height: 40px;
    }
    &.icone-bg {
        font-family: Roboto;
        text-align: center;
        font-style: normal;
        background-image: url('../img/icon-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 48px;
        line-height: 64px;
        padding-top: 15px;
        font-weight: 700;
        color: white;
        @media (max-width: 600px) {
            font-size: 30px;
            line-height: 32px;
            padding-top: 7px;
        }
    }
}
.boxes {
    .box {
        min-height: 340px;
        }
        @media (max-width: 750px){
            .box {
                min-height: 460px;
        }
        @media (max-width: 600px){
            .box {
                min-height: 0;
                margin-bottom: 0;
            }
            .coluna_1-2:first-of-type {
                margin-bottom: 0;
            }
        }
    }
}
.formula {
    border: 3px solid lighten($cor1,20%);
    border-radius: 20px;
    padding:20px;
    margin: 30px auto;
    // max-width: 600px;
}
.atividades {
    background: transparentize($cor1,.9);
}
.atividade {
    p.rotulo {
        width: 100%;
    }
    @media (max-width: 755px) and (min-width: 601px){
        .icone {
            width: 70px;
            &.icone-bg {
                padding-top: 5px;
                font-size: 48px;
            }
        }
    }
    @media (max-width: 600px) {
        p.rotulo {
        width: 75%;
        }  
    }
}
.videolink {
    position: relative;
    &:before {
        color: transparentize(black,.5);
        font-size: 40px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        z-index: 2;
        font-family: 'Glyphicons Halflings';
        content: "\e029";
    }
}
.tela_inteira {
    min-height: 480px !important;
    position: relative;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 80px;
    h1 {
        background: transparentize(white,.2);
    }
    .box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95%;
        max-width: 1030px;
        margin: 0 auto 60px;
        background: transparentize(white,.2);
    }
    @media(max-width: 600px) {
        .box {
            padding:10px;
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

.semibold {
    font-weight: 500;
}

.creditos {
    p {
        line-height: 1.7em;
        margin-bottom: 0;
        &.colaboracao {
            font-style: italic;
            font-size: 1.2em;
        }
    }
    h2 {
        padding-top: 30px;
    }
    h3 {
        font-size: 1.4em;
    }
    @media (max-width:600px) {
        h3 {
            font-size: 1em;
        }
        p.colaboracao {
            font-size: .9em;
        }
    }
    .autores {
        h3 {
            font-size: 1.1em;
        }
        p {
            font-size: 1em;
        }
    }
}

.controle {
    font-style: normal;
    clear: both;
    text-align: center;
    margin: 30px auto 0;
    width: 100%;
    max-width: 300px;
    padding-bottom: 15px;
    .sumario-bt {
    	box-shadow: 0 0 10px transparentize(black,.2);
        text-decoration: none;
        font-size: 1.3em;
        font-family: Miso;
        color: white;
        display: inline-block;
        margin-top: 7px;
        border-radius: 10px;
        padding: 5px;
        width: 150px;
        border: 3px solid $cor1;
        background-color: $cor1;
        transition: background-color 1s;
        &:hover, &:focus {
            background-color: lighten($cor1,15%);
            transition: background-color 1s;
        }
        &.inativo {
            border-color: transparentize(black,1);
            background-color: transparentize(black,0.5);
            color: transparentize(white,0.7);
        }
    }
    .seta {
    	box-shadow: 0 0 10px transparentize(black,.2);
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid $cor1;
        transition: background-color 1s;
        &:hover, &:focus {
            background-color: lighten($cor1,25%);
            transition: background-color 1s;
        }
        &.up {
            float: left;
            background-image: url('../img/seta.svg');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &.down {
            float: right;
            background-image: url('../img/seta.svg');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(180deg);
        }
        &.prox {
            float: right;
            background-image: url('../img/seta.svg');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(90deg);
        }
        &.ant {
            float: left;
            background-image: url('../img/seta.svg');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(-90deg);
        }
    }
}
.fullheight {
    .controle {
        .seta {
            background-color: transparentize(white,.4);
            transition: background-color 1s;
            &:hover, &:focus {
                background-color: lighten($cor1,25%);
                transition: background-color 1s;
            }
        }
    }
}

.sumario {
    padding-top: 60px;
    padding-bottom: 0;
    .controle {
        padding-top: 30px;
    }
    .sumario-gde {
        .coluna_1-2 {
            font-size: 14px;
        }
    }
     @media (max-width: 600px){
        .coluna_1-2 {
            a {
                border-radius: 0;
            }
            &:first-of-type {
                a:first-of-type {
                    border-radius: 15px 15px 0  0;
                }
            }
            &:last-of-type {
                a:last-of-type {
                    border-radius: 0 0 15px 15px;
                }
            }
        }
    }
    @media (max-width: 800px) and (min-width: 601px) {
        &.sumario-m4 {
            .controle {
                position: relative;
                top: -50px;
            }
        }
    }
    &.bg1 {

        background-image: url('../img/bg1.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg1.jpg');
        }
    }
    &.bg2 {
        background-image: url('../img/bg2.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg2.jpg');
        }
    }
    &.bg3 {
        background-image: url('../img/bg3.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg3.jpg');
        }
    }
    &.bg4 {
        background-image: url('../img/bg4.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg4.jpg');
        }
    }
    &.bg5 {
        background-image: url('../img/bg5.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg5.jpg');
        }
    }    
    &.bg6 {
        background-image: url('../img/bg6.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg6.jpg');
        }
    }
    &.bg7 {
        background-image: url('../img/bg7.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg7.jpg');
        }
    }    
    &.bg8 {
        background-image: url('../img/bg8.jpg');
        background-position: center;
        background-size: cover;
        @media(max-width: 600px) {
            background: linear-gradient(transparentize(white,1), white), url('../img/bg8.jpg');
        }
    }
    h1 {
        background: transparentize(white,.4);
    }
    a {
        font-weight: 700;
        display: block;
        background: linear-gradient(to bottom, white 0%, lighten(black,80%) 50%,lighten(black,70%) 51%,lighten(black,90%) 100%);
        background-color: white;
        color: lighten(black, 20%);
        border: 1px solid white;
        box-shadow: 0 0 10px transparentize(black,.2);
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        transition: all 1s;
        margin-bottom: 3px;
        &:hover, &:focus {
            box-shadow: inset 0 0 10px transparentize(black,.2);
            color: black;
            background: $cor1;
            transition: all 1s;
        }
    }
}

.diagrama {
    padding-top: 30px;
    position: relative;
    margin: 0 auto 60px;
    .botoes {
        z-index: 2;
        position: absolute;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        height: 5%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        .botao {
            position: absolute;
            &:first-of-type {
                right: 0;
            }
            &:last-of-type {
                right: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                bottom: -300px;
            }
        }
    }
    .hm {
        z-index: 3;
        top:130px;
        position: absolute;
        width: 50px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        transition: all 1s;
        &:hover {
            transition: all 1s;
            height: 60px;
            width: 60px;
        }
    }
    .circulos {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        position: relative;
        padding: 30px;
        .circulo {
            background: transparentize($cor2, .5);
            position: absolute;
            border-radius: 50%;
            height: 170px;
            width: 170px;
            border: 7px double white;
            transition: all 1s;
            &:first-of-type {
                background: transparentize($cor5, .5);
                right: 30px;
            }
            &:last-of-type {
                background: transparentize($cor4, .5);
                right: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                top: 85px;
            }
            &:hover {
                transition: all 1s;
                height: 180px;
                width: 180px;
            }
        }
    }
}
.silueta, .silueta-modal {
    img {
        margin: 0 auto;
        width: 240px;
        &.larga {
            width: 100%;
            max-width: 400px;
        }
    }
    .linha {
        position: relative;
        &.linha1{
            height: 70px;
        }
        &.linha2{
            height: 120px;
        }
        &.linha3{
            height: 170px;
        }
        &.linha4{
            height: 200px;
        }
        &.linha5{
            height: 230px;
        }
        &.linha6{
            height: 250px;
        }
    }
}
.colunas {
    .silueta {
        padding-top: 0;
    }
}
.figura.decorativa {
    display: block;
    margin: 60px auto;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
}

.figura.decorativa + figcaption {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    p {
        text-align: left;
    }
}
.videolink {
    min-height: 200px;
}


@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    50% { transform: scale(1.05); }
    60% { transform: scale(.95); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    // transform-origin:70% 70%;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
}

@keyframes shake_animation {
    0% { transform: rotate(0); }
    10% { transform: rotate(1deg); }
    20% { transform: rotate(-1deg); }
    30% { transform: rotate(1deg); }
    40% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    60% { transform: rotate(-1deg); }
    70% { transform: rotate(1deg); }
    80% { transform: rotate(-1deg); }
    90% { transform: rotate(1); }
    100% { transform: rotate(0); }
}

.shake {
    animation-name: shake_animation;
    animation-duration: 1000ms;
}