.smartphone-conteiner {
    margin: 30px auto;
    max-width: 600px;
    .smartphone {
        position: relative;
        padding-bottom: 55%;
        background-image: url('../img/iphone8.png');
        // background-image: url('../img/smartphone.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        .infografico {
            font-family: Miso;
            font-size: 18px;
            // text-transform: uppercase;
            text-align: center;
            max-width: 445px;
            margin: 40px auto;
            right: 0;
            left: 0;
            position: absolute;
            .infografico-campo {
                font-style: normal;
                text-decoration: none;
                background: transparentize(white,.5);
                display: inline-block;
                padding: 10px;                
                border-radius: 20px;
                margin-bottom: 10px;
                box-shadow: inset 0 0 10px transparentize(black,.7);
                &.campo-solo {
                    margin: 60px;
                }
            }
            a.infografico-campo {
                // background: linear-gradient(to bottom, lighten($cor2,30%) 0%,$cor2 50%,lighten($cor2,20%) 51%,darken($cor2,10%) 100%);
                // box-shadow: inset 0 0 10px transparentize(black,.7), 0 0 10px black;
                // text-shadow: 0 0 2px transparentize(black,.05);
                background: linear-gradient(to bottom, white 0%, lighten(black,80%) 50%,lighten(black,70%) 51%,lighten(black,90%) 100%);
                background-color: white;
                color: black;
                border: 1px solid white;
                box-shadow: 0 0 10px transparentize(black,.2);
                font-weight: bold;
                position: relative;
                // &:after{
                //     font-size: 15px;
                //     text-transform: none;
                //     z-index: 2;
                //     top: -15px;
                //     right: -7px;
                //     position: absolute;
                //     content: '1';
                //     padding: 5px 0 3px;
                //     font-weight: bold;
                //     color: transparent;
                //     display: inline-block;
                //     width: 24px;
                //     border-radius: 50%;
                //     background: radial-gradient(red,darken(red,20%));
                //     border: 1px solid transparentize(white,.1);
                //     animation: pulse 2s infinite;
                // }
                &:hover, &:focus {
                    box-shadow: inset 0 0 10px transparentize(black,.2);
                    color: black;
                    background: $cor1;
                    transition: all 1s;
                }
                // &.dois:after{
                //     content: '2';
                // }
                // &.tres:after{
                //     content: '3';
                // }
                // &.quatro:after{
                //     content: '4';
                // }
                // &.cinco:after{
                //     content: '5';
                // }
                // &.seis:after{
                //     content: '6';
                // }
            }
            .infografico-grupo {
                box-shadow: inset 0 0 20px  transparentize(black, .2);
                background: transparentize(white,.6%);
                border-radius: 10px;
                padding-top: 10px;
                margin: 0 10px 10px;
            }
        }
    }
    @media(max-width: 600px) {
        max-width: none;
        .smartphone {
            background-image: none;
            padding-bottom: 0;
            .infografico {
                border: 1px solid lighten(black,50%);
                border-radius: 12px;
                font-size: 12px;
                position: relative;
                max-width: 100%;
                .infografico-grupo {
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, .95);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}