.tabela-conteiner{
    max-width: 100%;
    overflow-x: auto;
}
table.tabela {
    margin-top: 30px;
    display: inline-block;
    padding: 2px;
    border-radius: 20px;
    background: $cor1;
    tr {
        border-top: 2px solid $cor1;
        border-bottom: 2px solid $cor1;
        &:first-child, &:last-child {
            border: none;
        }
        td,th {
            vertical-align: middle;
            background: white;
            text-align: center;
            padding: 15px;
        }
        th {
            background: lighten($cor1,20%);
            font-weight: 700;
            &:first-child {
                border-right: 2px solid $cor1;
                border-radius: 18px 0 0 0;
            }
            &:last-child {
                border-left: 2px solid $cor1;
                border-radius: 0 18px 0 0;
            }
        }
    }
}
.canto-inferior-esquerdo {
    border-radius: 0 0 0 18px;
    border-bottom: none;
}
.canto-inferior-direito {
    border-radius: 0 0 18px 0;
    border-bottom: none;
}
.canto-superior-esquerdo {
    border-radius: 18px 0 0 0 ;
}
.canto-superior-direito {
    border-radius: 0 18px 0 0;
}
.borda-lateral-esquerda {
    border-left: 2px solid $cor1;
}
.borda-lateral-direita {
    border-right: 2px solid $cor1;
}
.sem-borda-inferior {
    border-bottom: none !important;
}
.sem-borda-superior {
    border-top: 2px none;
}
.borda-superior {
    border-top: 2px solid $cor1;
}
.borda-inferior {
    border-bottom: 2px solid $cor1 !important;
}
a.checkbox {
    cursor: pointer;
    padding-left: 35px;
    color: inherit;
    display: block;
    position: relative;
    &:after{
        top: -5px;
        left: 0px;
        position: absolute;
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $cor1;
    }
    &:hover,&:focus {
        text-decoration: none;
    }
    &.checked:after {
        top: -5px;
        left: 0px;
        position: absolute;
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $cor1;
        background: $cor1;
    }
}
.calculo_consumo {
    min-width: 400px;
    .popover-trigger {
        font-weight: 700;
        display: block;
        background: linear-gradient(to bottom, white 0%, lighten(black,80%) 50%,lighten(black,70%) 51%,lighten(black,90%) 100%);
        background-color: white;
        color: lighten(black, 20%);
        border: 1px solid white;
        box-shadow: 0 0 10px transparentize(black,.2);
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        transition: all 1s;
        margin-bottom: 3px;
        &:hover, &:focus {
            box-shadow: inset 0 0 10px transparentize(black,.2);
            color: black;
            background: $cor1;
            transition: all 1s;
        }
    }
    td,th {
            padding: 5px !important;
        }
    @media (max-width: 460px) {
        hyphens: auto;
        font-size: .7em;
        td,th {
            padding: 3px;
        }
    }
    @media (max-width: 350px) {
        hyphens: none;
        font-size: .6em;
        td,th {
            padding: 2px;
        }
    }
}
.calculo_consumo + .legenda {
    margin-left: auto;
    margin: auto;
    margin-top: -15px;
    margin-bottom: 30px;
    max-width: 750px;
}
.gestao-recursos {
    font-weight: 900;
    .modal-trigger {
        font-weight: 700;
        display: block;
        background: linear-gradient(to bottom, white 0%, lighten(black,80%) 50%,lighten(black,70%) 51%,lighten(black,90%) 100%);
        background-color: white;
        color: lighten(black, 20%);
        border: 1px solid white;
        box-shadow: 0 0 10px transparentize(black,.2);
        padding: 10px;
        border-radius: 15px;
        text-decoration: none;
        transition: all 1s;
        margin-bottom: 3px;
        &:hover, &:focus {
            box-shadow: inset 0 0 10px transparentize(black,.2);
            color: black;
            background: $cor1;
            transition: all 1s;
        }
    }
    img {
        max-width: 100px;
    }
    .arrow-right {
        margin: 0 auto;
    }
    @media (max-width: 770px) {
        font-size: .8em;
        td,th {
            padding: 5px;
        }
    }
    @media (max-width: 460px) {
        hyphens: auto;
        font-size: .7em;
        td,th {
            padding: 3px;
        }
    }
    @media (max-width: 350px) {
        hyphens: none;
        font-size: .6em;
        td,th {
            padding: 2px;
        }
    }
}
.tabela-arcabouco {
    @media (max-width: 770px) {
        font-size: .8em;
        td,th {
            padding: 5px;
        }
    }
    @media (max-width: 460px) {
        hyphens: auto;
        font-size: .7em;
        td,th {
            padding: 3px;
        }
    }
    @media (max-width: 350px) {
        hyphens: none;
        font-size: .6em;
        td,th {
            padding: 2px;
        }
    }
    .no-padding {
        padding: 0 3px;
        .popover-trigger {
            font-weight: 700;
            display: block;
            background: linear-gradient(to bottom, white 0%, lighten(black,80%) 50%,lighten(black,70%) 51%,lighten(black,90%) 100%);
            background-color: white;
            color: lighten(black, 20%);
            border: 1px solid white;
            box-shadow: 0 0 10px transparentize(black,.2);
            padding: 10px;
            border-radius: 15px;
            text-decoration: none;
            transition: all 1s;
            margin-bottom: 3px;
            &:hover, &:focus {
                box-shadow: inset 0 0 10px transparentize(black,.2);
                color: black;
                background: $cor1;
                transition: all 1s;
            }
        }
    }
}
table.fluxograma {
    caption {
        font-weight: bold;
        font-size: 1.5em;
        margin: 30px 0;
    }
    margin: 60px auto;
    font-family: Miso;
    text-transform: uppercase;
    max-width: 600px;
    width: 100%;
    td {
        .fluxo-campo {
            border: 3px solid lighten($cor1,20%);
            border-radius: 10px;
            vertical-align: middle;
            display: block;
            margin: 3px;
            padding: 10px;
        }
    }
    &.fluxograma1 {
        td {
            width: 33.3333%;
        }
    }
    &.fluxograma2 {
        td {
            width: 25%;
        }
    }
    &.fluxograma3 {
        td {
            width: 50%;
        }
    }
}
.fluxograma-atencao {
    .fluxograma-seta {
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }
}
#fornecimento_hemocomponentes {
    .txt-maior {
        font-size: 1.5em;
    }
}