header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
}
.navbar {
    &.affix-top {
        background: white;
        background: linear-gradient(to bottom, white 0%, transparentize(white,0.5) 80%, transparentize(white,1) 100%);
    }
    &.affix .conteudo, &.affix-top.instrucoes-nav .conteudo {
        background: white;
        background: linear-gradient(to bottom, white 0%, transparentize(white,0.1) 80%, transparentize(white,0.9) 100%);
    }
    &.affix-atividades .conteudo {
        background: white;
        background: linear-gradient(to bottom, #fdeaeb 0%, transparentize(#fdeaeb,0.1) 80%, transparentize(#fdeaeb,0.9) 100%);
    }
    &.sem-sumario {
        background: white;
        background: linear-gradient(to bottom, white 0%, transparentize(white,0.1) 80%, transparentize(white,0.9) 100%);
    }
    &.apresentacao.affix-top {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }
    &.apresentacao.affix {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s;
    }
    &.affix-top.instrucoes-nav {
        background: transparent;
    }
}
nav {
    position: absolute;
    bottom: 15px;
    font-family: Miso;
    font-weight: 400;
    color: white;
    letter-spacing: -1px;
    .nav-bt-conteiner {
        background-color: $cor1;
        border-radius: 27px;
        width: 74px;
        height: 57px;
        padding: 3px;
        .nav-bt {
            cursor: pointer;
            width: 100%;
            border-radius: 25px;
            padding: 10px 10px 5px;
            border: 3px solid white;
            display: block;
            transition: background-color 1s;
            &:hover, &:focus {
                background-color: darken($cor1,15%);
                transition: background-color 1s;
            }
            .menu-stripe {
                display: block;
                background: white;
                height: 4px;
                width: 40px;
                margin-bottom: 6px;
            }
        }
    }
    .menu {
        position: absolute;
        z-index: 2;
        li {
            position: relative;
            font-size: 30px;
            width: 270px;
            padding: 3px;
            border-radius: 15px;
            background-color: $cor1;
            a {
                color: white;
                cursor: pointer;
                display: block;
                border: 3px solid white;
                border-radius: 13px;
                padding: 5px 8px 2px;
                color: white;
                text-decoration: none;
                transition: background-color 1s;
                &:hover, &:focus {
                    color: white;
                    background-color: darken($cor1,15%);
                    transition: background-color 1s;
                }
            }
        }
        .menu-sub {
            position: absolute;
            z-index: 3;
            left: 255px;
            top: 10px;
            li {
                width: 120px;
                text-align: center;
                background-color: lighten($cor1,10%);
                a {
                    transition: background-color 1s;
                    &:hover, &:focus {
                        background-color: $cor1;
                        transition: background-color 1s;
                    }
                }
            }
            @media (max-width: 600px) {
                position: static;
                li {
                    width: auto;
                    text-align: left;
                }
            }
        }
    }
}
.breadcrumb {
    text-align: right;
    font-family: Miso;
    font-size: 1.55em;
    padding: 2em 0 30px;
    color: $cor1;
}
