$cor1: #f04f54;
$cor2: #01aef0;
$cor3: #2e3192;
$cor4: #8660a9;
$cor5: #3cb879;
$cor6: #f36c4f;
$cor7: #d8ad4f;

.bg-cor1 { background-color: $cor1 !important; }
.bg-cor2 { background-color: $cor2 !important; }
.bg-cor3 { background-color: $cor3 !important; }
.bg-cor4 { background-color: $cor4 !important; }
.bg-cor5 { background-color: $cor5 !important; }
.bg-cor6 { background-color: $cor6 !important; }
.bg-cor7 { background-color: $cor7 !important; }

.cor1 { color: $cor1 !important; }
.cor2 { color: $cor2 !important; }
.cor3 { color: $cor3 !important; }
.cor4 { color: $cor4 !important; }
.cor5 { color: $cor5 !important; }
.cor6 { color: $cor6 !important; }
.cor7 { color: $cor7 !important; }